body {
  background-color: aliceblue;
}
.bg-gridient {
  background: linear-gradient(to bottom, #ffffff, #d0e1f9, #8faedf, #4c87c4);
}
.polygon-shape {
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0% 100%);

  /* background-color: #4db4a5; */
}
.about-us-page {
  padding-top: 5%;
  padding-bottom: 10%;
}
.about-us-page p {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-size: 2.4rem;
  color: white;
  text-align: start;
}
.about-us-heading {
  font-size: 5.4rem;
  margin-bottom: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  color: white;
  text-align: start;
}

.cards-container {
  display: grid;
  margin-top: 4.2rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.card {
  /* width: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  padding: 0px;
  background-color: rgb(217, 214, 214);
}

.card:hover {
  /* transform: scale(1.05); */
}

.card-header {
  /* background-color: #3b82f6; */
  padding: 20px;
  text-align: center;
}

.card-icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: #3a84fc;
  color: white;
  padding: 10px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  border-top-right-radius: 15px;
}

.card-body h3 {
  margin: 10px 0;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.card-body p,
a {
  font-size: 1.8rem;
  color: #666;
  margin-bottom: 20px;
  text-decoration: none;
}

.card-body button {
  background-color: #3b82f6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.card-body button:hover {
  background-color: #2563eb;
}

.aboutUs-info {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 6.4rem;
  gap: 3.4rem;
}
.discription {
  background-color: rgb(217, 214, 214);
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.6rem;
}
.discription p {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
/* Responsive */
/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .polygon-shape {
    clip-path: none;
  }
}
